.topPage {
  min-height: 93vh;
  padding-top: 30px;
  background: #CCCCFF;
  overflow-x: scroll;
  .listWrapper {
    display: flex;
    height: 100%;
    align-items: baseline;
    .list {
      position: relative;
      background: #66CDAA;
      padding: 10px;
      margin-left: 20px;
      min-width: 250px;
      &:last-child {
        margin-right: 20px;
      }
      &_header {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_title {
          font-size: 20px;
          margin: 0;
        }
        &_action {
          .fa-pen, .fa-trash {
            font-size: 18px;
            color: #8c8c8c;
          }
          .fa-trash {
            margin-right: 10px;
          }
        }
      }
      .cardWrapper {
        overflow-y: scroll;
        max-height: 76vh;
         .cardDetail_link {
          text-decoration: none;
          color: #323232;
        }
        .card {
          margin-bottom: 10px;
          padding: 10px;
          &_title {
            font-size: 17px;
          }
          &_detail {
            display: none;
            &.is-exist {
              display: block;
              color: #999;
              & > i {
                display: block;
              }
            }
          }
        }
        .addCard {
          color: #8c8c8c;
          &_link {
            color: #8c8c8c;
          }
        }
      }
    }
  }
}
$box-size_width: 120px;
$box-size_height: 110px;
$box-color_background: #CECECE;

@mixin base_box {

  display: flex;
  justify-content: center;
  flex-direction: column;

  height: $box-size_height;
  width: $box-size_width;

  background: $box-color_background;
  text-align: center;
  margin: 1rem;
}

#drag-and-drop-demo {
  display: flex;

  align-items: center;
  align-content: center;
  align-self: center;

  justify-content: center;
  flex-direction: row;

  margin-top: 3rem;

  
  #drop-point {
    @include base_box;
    border: 1px dashed #0A0A0A;

    .card {
      @include base_box;
      border: 1px solid #0A0A0A;
    }
  }
}